body {
    background-color: rgba(14, 13, 18, 1);
    overflow-x: hidden;
    position: relative;
}

.fon1 {
    position: absolute;

    max-width: 100%;
    height: 628px;
    z-index: -1;
    opacity: 0.3;
    top: -25px;
}

@media (min-width: 1400px) {
    .container-fluid {
        max-width: 1360px;
    }
}

@font-face {
    font-family: 'TT Travels Trl';
    src: url('../fonts/TTTravelsTrial_Light.otf');
    /* Путь к шрифту и его формат */
    font-weight: 300;
    /* Можно указать normal или bold */
}

@font-face {
    font-family: 'TT Travels Trl';
    src: url('../fonts/TTTravelsTrial_Regular.otf');
    /* Путь к шрифту и его формат */
    font-weight: 400;
    /* Можно указать normal или bold */
}

@font-face {
    font-family: 'TT Travels Trl';
    src: url('../fonts/TTTravelsTrial_Medium.otf');
    /* Путь к шрифту и его формат */
    font-weight: 500;
    /* Можно указать normal или bold */
}

@font-face {
    font-family: 'TT Travels Trl';
    src: url('../fonts/TTTravelsTrial_Bold.otf');
    /* Путь к шрифту и его формат */
    font-weight: 600;
    /* Можно указать normal или bold */
}

@font-face {
    font-family: 'TT Travels Trl';
    src: url('../fonts/TTTravelsTrial_ExtraBold.otf');
    /* Путь к шрифту и его формат */
    font-weight: 700;
    /* Можно указать normal или bold */
}

#menu__toggle {
    opacity: 0;
}

#menu__toggle:checked~.menu__btn>span {
    transform: rotate(45deg);
    width: 30px;
}

#menu__toggle:checked~.menu__btn>span::before {
    top: 0;
    right: 0;
    transform: rotate(0);
    width: 30px;
}

#menu__toggle:checked~.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
    right: 0;
    width: 30px;
}

#menu__toggle:checked~.menu__btn {
    width: 50px;
}

.hamburger-menu {
    position: relative;
    /* Изменяем позиционирование на relative, чтобы оно реагировало на сетку Bootstrap */
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

@media(min-width:768px) and (max-width:992px) {
    .hamburger-menu {
        margin-bottom: 6px;
    }
}

#menu__toggle:checked~.menu__box {
    visibility: visible;
    right: 0;
    background: #fff;
    color: white;
    text-align: center;
}

.menu__btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 5px;
    width: 57px;
    height: 10px;
    cursor: pointer;
    z-index: 11;
    text-align: center;
    border-radius: 10px;

}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: block;
    position: absolute;
    width: 34px;
    height: 2px;
    background: linear-gradient(0deg, #ECCB66, #ECCB66), linear-gradient(90deg, #E0AA3E 0%, #E0AA3E 0.01%, #F9F295 21.94%, #E0AA3E 57.75%, #FAF398 102.67%, #B88A44 114.07%);
    transition-duration: .25s;
}

.menu__btn>span::before {
    content: '';
    top: -8px;
}

.menu__btn>span::after {
    content: '';
    top: 8px;
}

.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    z-index: 10;
    width: 200px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #fff;
    transition-duration: .25s;
    box-shadow: 1px 0px 6px rgb(123, 42, 24);
}

.menu_item1 {
    color: black;
    text-decoration: none;
    line-height: 30px;
    font-size: 18px;
}

.menu_item1:hover {
    color: black;
    text-decoration: none;
}

.menu__box button {
    width: 80%;
    border: none;
    color: white;
    padding: 5px;
    font-size: 16px;
    font-weight: 600;
    font-family: Golos;
    font-size: 16px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
    color: white;
    background: #7B2A18;
    padding-top: 15px;
    padding-bottom: 15px;
}

.text_right {
    text-align: right;
    align-self: center;
}

.text_center {
    text-align: center;
}

@media(max-width:992px) {
    .dlyamt {
        margin-top: 23px;
    }
}

@media(max-width:767px) {
    .menu__btn {
        top: 13px;
    }
}

@media(max-width:576px) {
    .bonusik {
        text-align: end;
    }
}

header {
    z-index: 20;
    overflow-x: hidden;
    width: 100%;
}

.headerr {
    padding-top: 40px;
}

.logo h3 {
    font-family: TT Travels Trl;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    color: white;
    margin-left: 10px;
}

.logo {
    display: flex;
    align-items: center;
}

.steam h4 {
    font-family: TT Travels Trl;
    font-size: 15px;
    font-weight: 500;
    line-height: 19.2px;
    text-align: left;
    color: white;
    margin-left: 10px;
}

.steam {
    display: flex;
    align-items: center;
    border: 1px solid var(--White, #FFFFFF);
    justify-content: center;
    width: max-content;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    max-width: 100%;
}

.bonus button {
    font-family: TT Travels Trl;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    color: #0E0D12;
    background: linear-gradient(90deg, #E0AA3E 0%, #E0AA3E 0.01%, #F9F295 21.94%, #E0AA3E 57.75%, #FAF398 102.67%, #B88A44 114.07%);
    padding: 12px 40px 12px 40px;
    border-radius: 5px;
    border: none;
}

.search {
    display: flex;
    align-items: center;
    border: 1px solid #FFFFFF;
    height: 44px;
    padding: 10px 30px 10px 30px;
    justify-content: space-between;
    border-radius: 8px;
    width: 100%;

}

.bigshapka {
    display: flex;
    align-items: end;
}

.firstsearch {
    display: flex;
    justify-content: start;
}

.shapkamini {
    padding-right: 60px;
    padding-left: 60px;
}

@media(max-width:568px) {
    .shapkamini {
        padding-right: 20px;
        padding-left: 20px;
    }
}

.shapkamini button {
    font-family: TT Travels Trl;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    color: #0E0D12;
    background:
        linear-gradient(90deg, #E0AA3E 0%, #E0AA3E 0.01%, #F9F295 21.94%, #E0AA3E 57.75%, #FAF398 102.67%, #B88A44 114.07%);
    padding: 8px 20px 8px 20px;
    border: none;
    border-radius: 8px;
}

.search h2 {
    font-family: TT Travels Trl;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    text-align: left;
    color: white;
}

@media(max-width:430px) {
    .logo {
        width: 50%;
    }

    .rightbonus {
        width: 50%;
    }
}

.main {
    margin-top: 5%;
}

.main h2 {
    font-family: TT Travels Trl;
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    text-align: left;
    color: #FFFFFF;
    text-align: center;
}

.secondmain h2 {
    font-family: TT Travels Trl;
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    text-align: left;
    color: #FFFFFF;
    text-align: center;
}

.popolnenie {
    background: linear-gradient(161.69deg, #25D0B6 39.73%, #3760E3 87.81%);
    width: 100%;
}

.donat h3 {
    font-family: TT Travels Trl;
    font-size: 32px;
    font-weight: 600;
    line-height: 38.4px;
    text-align: left;
    color: black;
}

.donat {
    padding-top: 20px;
    padding-left: 20px;

}

.steams {
    background:
        linear-gradient(180deg, #111D2E 0%, #051839 19.5%, #0A1B48 32.5%, #132E62 49.5%, #144B7E 69%, #136497 84.5%, #1387B8 100%);
    border-radius: 8px;
    width: max-content;
}

.steams h4 {
    font-family: TT Travels Trl;
    font-size: 38px;
    font-weight: 600;
    line-height: 45.6px;
    text-align: left;
    color: white;
    padding: 10px 8px 10px 8px;
}

.popolnenie {
    border-radius: 30px;
    position: relative;
    height: 300px;
}

.imgsteam {
    position: absolute;
    width: 297.21px;
    height: 300px;
    bottom: 0;
    right: 0;
    gap: 0px;
    opacity: 0px;
    z-index: 0;
}



.mdpixels {
    padding-left: 60px;
    padding-right: 60px;
}

@media(max-width:568px) {
    .mdpixels {
        padding-right: 20px;
        padding-left: 20px;
    }

}

.secondimgsteam {
    position: absolute;
    width: 290px;
    height: 100%;
    bottom: 0px;
    right: 0px;
    gap: 0px;
    opacity: 0px;
    z-index: 0;
}



.popolnit {
    position: relative;
    background: linear-gradient(161.69deg, #25D0B6 39.73%, #3760E3 87.81%);
    width: 100%;
    background-repeat: 8px;
    height: 326px;
    border-radius: 8px;
}

.popolnit h3 {
    font-family: TT Travels Trl;
    font-size: 26px;
    font-weight: 600;
    line-height: 31.2px;
    text-align: left;
    color: black;
}

.popolnit h4 {
    font-family: TT Travels Trl;
    font-size: 30px;
    font-weight: 600;
    line-height: 36px;
    text-align: left;
    color: white;
}

.blackline {
    width: 100%;
    background-color: rgba(14, 13, 18, 1);
    height: 10px;
    z-index: 1;
    position: relative;
}

.firststrelka {
    bottom: 30px;
    left: 30px;
    gap: 0px;
    opacity: 0px;
    position: absolute;
}

@media(max-width:568px) {
    .firststrelka1 {
        width: 18px;
        height: 17px;
        bottom: 15px;
        left: 15px;
    }
}

.gift {
    background: linear-gradient(132.71deg, #3791FD 23.81%, #8ED7E5 70.02%);
    position: relative;
}

.gift h2 {
    color: #0E0D12;
    font-family: TT Travels Trl;
    font-size: 32px;
    font-weight: 600;
    line-height: 38.4px;
    text-align: left;
    padding-top: 20px;
    padding-left: 20px;
}

.podarok {
    width: 265px;

    bottom: 0;
    right: 0;
    gap: 0px;
    opacity: 0px;
    position: absolute;
}

.gift {

    height: 300px;
    gap: 0px;
    border-radius: 30px;
    opacity: 0px;
}

.gift2 {

    height: 153px;
    gap: 0px;
    border-radius: 8px;
    opacity: 0px;
    background: linear-gradient(132.71deg, #3791FD 23.81%, #8ED7E5 70.02%);
    position: relative;
}

.gift h2 {
    font-family: TT Travels Trl;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: black;

}

.gift2 h2 {
    font-family: TT Travels Trl;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: black;
    padding-top: 15px;
    padding-left: 15px;
}

.podarok2 {
    width: 161px;
    height: 153px;
    right: 0;
    bottom: 0;
    gap: 0px;
    opacity: 0px;
    position: absolute;
}

.secondstrelki {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

@media(max-width:1200px) {
    .imgsteam {
        width: 250px;
    }

    .podarok {
        width: 220px;
    }
}

.shop {
    background: linear-gradient(161.69deg, #3791FD 39.73%, #3760E3 87.81%);
    position: relative;
    overflow: hidden;
    height: 300px;
    gap: 0px;
    border-radius: 30px;
    opacity: 0px;
    cursor: pointer;
}

.shop h2 {
    color: #0E0D12;
    font-family: TT Travels Trl;
    font-size: 32px;
    font-weight: 600;
    line-height: 38.4px;
    text-align: left;
    padding-top: 20px;
    padding-left: 20px;

}

a {
    text-decoration: none;
}

.shop2 {
    margin-top: 22px;
    height: 153px;
    gap: 0px;
    border-radius: 8px;
    opacity: 0px;
    position: relative;
    background: linear-gradient(161.69deg, #3791FD 39.73%, #3760E3 87.81%);
    overflow: hidden;
    cursor: pointer;
}

.shop2 h2 {
    font-family: TT Travels Trl;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    padding-top: 15px;
    padding-left: 15px;
    color: black;
}

.castle {
    position: absolute;
    width: 313px;
    height: 313px;
    bottom: 0;
    right: 0;
    gap: 0px;
    opacity: 0px;

}

.castle2 {
    width: 148px;

    bottom: 0;
    right: 0;
    gap: 0px;
    opacity: 0px;
    position: absolute;
}

@media(max-width:875px) {
    .podarok2 {
        width: 125px;
    }

    .castle2 {
        width: 115px;
    }
}

@media(max-width:815px) {
    .secondimgsteam {
        width: 260px;
    }
}

@media(max-width:768px) {
    .shop2 {
        margin-top: 0;
    }
}

@media(max-width:768px) {
    .secondimgsteam {
        width: 280px;
    }

    .podarok2 {
        width: 145px;
    }

    .castle2 {
        width: 145px;
    }

    .gift2 h2 {
        font-family: TT Travels Trl;
        font-size: 16px;
        font-weight: 600;
        line-height: 19.2px;
        text-align: left;

    }

    .shop2 h2 {
        font-family: TT Travels Trl;
        font-size: 16px;
        font-weight: 600;
        line-height: 19.2px;
        text-align: left;

    }

}

@media(max-width:568px) {
    .secondimgsteam {
        width: 150.9px;
        height: 152px;
        bottom: 0;

    }

    .popolnit {

        height: 152px;
        gap: 0px;
        border-radius: 8px;
        opacity: 0px;

    }

    .podarok2 {
        width: 115px;
        height: 127px;


    }

    .gift2 h2 {
        padding-top: 10px;
        padding-left: 10px;
    }

    .donat {
        padding-left: 15px;
        padding-top: 15px;
    }

    .castle2 {
        width: 115px;
    }

    .shop2 h2 {
        padding-top: 10px;
        padding-left: 10px;
    }

    .secondstrelki2 {
        width: 10px;
        height: 9px;
        bottom: 10px;
        left: 10px;

    }

    .twoblocks {
        margin-top: 20px !important;
    }
}

.features {
    margin-top: 100px;
    margin-bottom: 100px;

}

.fortriangle1 {
    position: relative;
}

.triangle1 {
    position: absolute;
    top: -150px;
    left: -150px;
    z-index: -1;

    max-width: 100%;
}

.for_triangle2 {
    position: relative;
}

.triangle2 {
    position: absolute;
    z-index: -1;
    bottom: -150px;
    right: -150px;
    rotate: 240.62deg;

    max-width: 100%;
}

@media(max-width:568px) {
    .triangle2 {
        right: 0;
    }
}

.codes {
    background: linear-gradient(161.69deg, #25D0B6 39.73%, #3760E3 87.81%);
    position: relative;

    height: 620px;
    gap: 0px;
    border-radius: 30px;
    opacity: 0px;

}

@media(max-width:1200px) {
    .codes {
        margin-bottom: 20%;
    }
}

.codes h2 {
    font-family: TT Travels Trl;
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    text-align: left;
    color: #0E0D12;
    padding-top: 40px;
    padding-left: 40px;
}

.warrior {
    width: 525px;
    bottom: 0;
    right: 0;
    gap: 0px;
    opacity: 0px;
    position: absolute;
}

@media(max-width:710px) {
    .warrior {
        width: 450px;
    }
}

.thirdstrelka {
    position: absolute;
    bottom: 40px;
    left: 40px;
}

@media(max-width:568px) {
    .warrior {
        width: 295px;
        height: 316px;
    }

    .codes {
        height: 336px;
        gap: 0px;
        border-radius: 15px;
        opacity: 0px;

    }

    .codes h2 {
        font-family: TT Travels Trl;
        font-size: 27px;
        font-weight: 600;
        line-height: 32.4px;
        text-align: left;

    }

    .codes h2 {
        padding-top: 25px;
        padding-left: 25px;
    }

    .thirdstrelka {
        width: 20px;
        height: 19px;
        top: 292px;
        left: 25px;
        gap: 0px;
        bottom: 25px;
        left: 25px;
    }

    .popolnit h3 {
        font-family: TT Travels Trl;
        font-size: 16px;
        font-weight: 600;
        line-height: 19.2px;
        text-align: left;

    }

    .popolnit h4 {
        font-family: TT Travels Trl;
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
        text-align: left;
        padding: 5px 4px 5px 4px;
    }

}

.skins {
    background: linear-gradient(161.69deg, #16BED0 39.73%, #283BB0 87.81%);
    position: relative;
    overflow: hidden;
    height: 300px;
    gap: 0px;
    border-radius: 30px;
    opacity: 0px;
    padding-top: 20px;
    padding-left: 20px;
    margin-bottom: 20px;
}

.skins h2 {
    font-family: TT Travels Trl;
    font-size: 32px;
    font-weight: 600;
    line-height: 38.4px;
    text-align: left;
    color: #0E0D12;
}

.ump {
    position: absolute;
    bottom: 0;
    right: 0;
}

.bon h2 {
    font-family: TT Travels Trl;
    font-size: 32px;
    font-weight: 600;
    line-height: 38.4px;
    text-align: left;
    color: #0E0D12;
}

.xbox h2 {
    font-family: TT Travels Trl;
    font-size: 32px;
    font-weight: 600;
    line-height: 38.4px;
    text-align: left;
    color: #0E0D12;
}

.mobile h2 {
    font-family: TT Travels Trl;
    font-size: 32px;
    font-weight: 600;
    line-height: 38.4px;
    text-align: left;
    color: #0E0D12;
}

.mobile {
    background: linear-gradient(161.69deg, #3791FD 39.73%, #3760E3 87.81%);

    position: relative;
    overflow: hidden;
    height: 300px;
    gap: 0px;
    border-radius: 30px;
    opacity: 0px;
    padding-top: 20px;
    padding-left: 20px;
    margin-bottom: 20px;
}

.mobile {
    background: linear-gradient(161.69deg, #3791FD 39.73%, #3760E3 87.81%);

    position: relative;
    overflow: hidden;
    height: 300px;
    gap: 0px;
    border-radius: 30px;
    opacity: 0px;
    padding-top: 20px;
    padding-left: 20px;
    margin-bottom: 20px;
}

.bon {
    background: linear-gradient(132.71deg, #3791FD 23.81%, #8ED7E5 70.02%);
    position: relative;
    overflow: hidden;
    height: 300px;
    gap: 0px;
    border-radius: 30px;
    opacity: 0px;
    padding-top: 20px;
    padding-left: 20px;
    margin-bottom: 20px;
}

.features1 {
    position: relative;
    overflow: hidden;
    height: 273px;
    width: 100%;
    margin-top: -200px;
}

.features1::after {
    content: "";
    position: absolute;
    bottom: 0px;
    right: -90px;
    margin-top: -200px;
    width: 257.65px;
    height: 273.37px;
    background-image: url('../img/triangle1.png');
    background-size: cover;
    background-position: center;
    transform: rotate(45deg);
    /* Угол поворота */
    rotate: 240.62deg;
    z-index: -1;
}

@media(max-width:576px) {
    .features1 {
        margin-top: -200px;
    }

    .features1::after {
        content: "";
        position: absolute;
        bottom: 0px;
        right: -90px;
        width: 257.65px;
        height: 273.37px;
        background-image: url('../img/triangle1.png');
        background-size: cover;
        background-position: center;
        transform: rotate(45deg);
        /* Угол поворота */
        rotate: 240.62deg;
        z-index: -1;
    }
}

.specialtriangle {
    position: absolute;
    right: -50px;
    top: -300px;
    z-index: -1;
}

.xbox {
    background: linear-gradient(161.69deg, #16BED0 39.73%, #283BB0 87.81%);
    position: relative;
    overflow: hidden;
    height: 300px;
    gap: 0px;
    border-radius: 30px;
    opacity: 0px;
    padding-top: 20px;
    padding-left: 20px;
    margin-bottom: 20px;
}

.barbarian {
    position: absolute;

    bottom: 0;
    right: 90px;
    gap: 0px;
    opacity: 0px;
    rotate: -180 deg;
    z-index: 2;
}

.mag {
    position: absolute;
    bottom: 0;
    right: 0;
    gap: 0px;
    opacity: 0px;
    rotate: -180 deg;
    z-index: 1;
}

.xboxik {
    bottom: 0;
    right: 0;
    gap: 0px;
    opacity: 0px;
    rotate: 21.63 deg;
    position: absolute;
}

@media(max-width:740px) {
    .ump {
        width: 200px;
    }

    .barbarian {
        width: 150px;
    }

    .mag {
        width: 150px;
    }
}

@media(max-width:666px) {
    .skins h2 {
        font-family: TT Travels Trl;
        font-size: 28px;
        font-weight: 600;
        line-height: 19.2px;
        text-align: left;
    }

    .mobile h2 {
        font-size: 28px;
    }

    .xbox h2 {
        font-size: 28px;
    }

    .bon h2 {
        font-size: 28px;
    }
}

@media(max-width:568px) {
    .skins {
        width: 100%;
        height: 153px;
        padding-top: 10px;
        padding-left: 10px;
        border-radius: 8px;
    }

    .ump {
        width: 196px;
        height: 127px;
        right: -25px;

    }

    .skins h2 {
        font-family: TT Travels Trl;
        font-size: 16px;
        font-weight: 600;
        line-height: 19.2px;
        text-align: left;

    }

    .mobile {
        width: 100%;
        height: 153px;
        padding-top: 10px;
        padding-left: 10px;
        border-radius: 8px;
    }

    .mobile h2 {
        font-family: TT Travels Trl;
        font-size: 16px;
        font-weight: 600;
        line-height: 19.2px;
        text-align: left;

    }

    .barbarian {
        width: 80px;
    }

    .mag {
        width: 80px;
    }

    .xbox {
        width: 100%;
        height: 153px;
        padding-top: 10px;
        padding-left: 10px;
        border-radius: 8px;
    }

    .xboxik {
        width: 98px;
    }

    .xbox h2 {
        font-family: TT Travels Trl;
        font-size: 16px;
        font-weight: 600;
        line-height: 19.2px;
        text-align: left;

    }

    .bon {
        width: 100%;
        height: 153px;
        padding-top: 10px;
        padding-left: 10px;
        border-radius: 8px;
    }

    .podarok {
        width: 115px;
    }

    .bon h2 {
        font-family: TT Travels Trl;
        font-size: 16px;
        font-weight: 600;
        line-height: 19.2px;
        text-align: left;

    }
}

.forjoystick {
    position: relative;
}

.joystick_button {
    position: absolute;
    top: -180px;
    z-index: -1;
    left: -100px;

    max-width: 100%;
}

@media(max-width:576px) {
    .joystick_button {
        width: 214px;

        top: -50px;
    }
}

.popular h2 {
    color: white;
    font-family: TT Travels Trl;
    font-size: 32px;
    font-weight: 600;
    line-height: 38.4px;
    text-align: left;
    margin-bottom: 40px;
}

.tovari {
    height: 420px;
    padding: 25px;
    gap: 8px;
    border-radius: 15px;
    border: 3px;
    opacity: 0px;
    border: 3px solid var(--Blue, #3760E3);
    position: relative;

}

.tovari h3 {
    color: white;
    font-family: TT Travels Trl;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;

}

.tovari h4 {
    font-family: TT Travels Trl;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    color: white;

}

.tovari img:nth-of-type(1) {
    margin-bottom: 10px;
}

.tovari img {
    width: 100%;


}

.tovari h5 {
    color: white;
    font-family: TT Travels Trl;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    position: absolute;
    bottom: 25px;
    right: 25px;
}

#sec {
    margin-bottom: 0;
}

.logotip {
    display: flex;
    align-items: center;
}

.logotip h2 {
    font-family: TT Travels Trl;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    color: white;
    margin-left: 10px;
}

.bottom {
    margin-top: 8%;
    margin-bottom: 5%;
}

.bottom h3 {
    font-family: TT Travels Trl;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    color: white;
    margin-bottom: 30px;
}

.sociallinks {
    display: flex;
    align-items: center;
}

.sociallinks img {
    margin-right: 20px;
}

.tovari {
    cursor: pointer;
}

.gamepad {
    position: absolute;
    right: 0;
    bottom: -200px;
    z-index: -1;

    max-width: 100%;
}

.fon1,
.triangle1,
.triangle2,
.joystick_button,
.gamepad {
    max-width: 100vw;
    /* Ограничиваем максимальную ширину размером экрана */
    max-height: 100vh;
    /* Ограничиваем максимальную высоту размером экрана */
    object-fit: cover;
    /* Масштабируем изображение, сохраняя его пропорции */

}

@media(max-width:992px) {
    .tovari {
        height: 100%;
    }

    .goods {
        margin-bottom: 30px;
    }

    .shadows {
        margin-bottom: 30px;
    }

    .elder {
        margin-bottom: 30px;
    }
}

@media(max-width:568px) {
    .elder {
        margin-bottom: 30px;
    }
}

.bottom button {
    background: linear-gradient(90deg, #E0AA3E 0%, #E0AA3E 0.01%, #F9F295 21.94%, #E0AA3E 57.75%, #FAF398 102.67%, #B88A44 114.07%);
    height: 44px;
    font-family: TT Travels Trl;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    color: black;
    border: none;
    border-radius: 8px;
    width: 100%;
}

.button_right {
    text-align: right;
}

.flex {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.text_rightt h3 {
    text-align: right;
}

@media(max-width:1400px) {
    .tovari img {
        width: 100%;
    }
}